 <div class="sidebar classroom">
    <h2>
      Classrooms
    </h2>
    <ul>
      <li>
        Infants
      </li>
      <li>
        Toddlers
      </li>
      <li>
        Preschool/Pre-Kindergarten
      </li>
      <li>
        School Age
      </li>
    </ul>
  </div><!--End Sidebar-->
  <div class="sidebar address">
    <h2>
      Address
    </h2>
    <p>
      600 Alton Ave.<br/>
      Reading, PA 19605<br/>
      610-334-8741
      </p>
  </div><!--End Sidebar-->
  <div class="sidebar hours">
    <h2>
      Hours
    </h2>
    <p>
      Monday-Friday<br/>
      6:30am - 6:00pm
      </p>
  </div><!--End Sidebar-->