<div class="mainImage">
  <div class="container">
    <img src="/images/home_img_mobi.jpg" alt="Home Image">
  </div>
</div>
<div class="sectionDivider"></div>
<div class="container">
  <div class="allContent">
    <div class="mainContent">
      <article>
        <div class="sectionContent mainHeader">
          <h1>About Us</h1>
        </div>
        <div class="sectionContent">
          <img src="/images/objectives.jpg" alt="Objectives">
        </div>
      </article>
    </div>
   
   <%= render '/pages/sidebar' %>
  
  </div>
</div>
