<div class="mainImage">
  <div class="container">
    <img src="/images/contact_photo.jpg" alt="Home Image">
  </div>
</div>
<div class="sectionDivider"></div>
<div class="container">
  <div class="allContent">
    <div class="mainContent">
      <article>
        <div class="sectionContent mainHeader">
          <h1>Contact Us</h1>
        </div>
        <div class="sectionContent">
          <p>Feel Free to Contact Us with any questions, comments, or concerns.</p>
          <p>
            <strong>The Children's Journey</strong><br>
              Phone: <a href="tel:6109210770">610-921-0770</a><br>
          </p>
          <p>
            <strong>Brydie Harris - Lead Pastor</strong><br>
                    Phone: <a href="tel:610-334-8741">610-334-8741</a><br>
                    Email: <a href="mailto:journeyfellowship@msn.com">journeyfellowship@msn.com</a><br>
          </p>

         
        </div>
      </article>
    </div>
   
   <%= render '/pages/sidebar' %>
  
  </div>
</div>
