<div class="mainImage">
  <div class="container">
    <img src="/images/home_img_mobi.jpg" alt="Home Image">
  </div>
</div>
<div class="sectionDivider"></div>
<div class="container">
  <div class="allContent">
    <div class="mainContent">
      <article>
        <div class="sectionContent mainHeader">
          <h1>Enrollment Polices and Procedures</h1>
        </div>
        <div class="sectionContent">
          <p>
            Children are granted enrollment on a non-discriminatory basis without regard to sex, race, color, religion, creed, political belief or national origin. Enrollment is open to all children, provided the center can meet the needs of the child. We are not staffed to provide one-on-one care.
          </p>
          <p>
            All new enrollees will be subject to a three-week probationary period. A child should be enrolled no less than 1 day prior to his or her first day of attendance. As part of the enrollment process, the following forms must be completed and submitted to the office prior to the first day of attendance (unless otherwise noted) 
          </p>
        </div>
        <div class="sectionContent">
          <h1>Enrollment Forms</h1>
        </div>
        <div class="sectionContent">
          <p class="subText">
            Click on the forms below to view and print.
          </p>
          <ol>
            <li><a href="/assets/enrollmentforms/Emergency Contact Form.pdf" target="_blank">Registration / Emergency Contact Form</a></li>
            <li><a href="/assets/parenthandbook12192009.pdf" target="_blank">Parent Handbook</a></li>
           <li><a href="/assets/enrollmentforms/Child Health Report.pdf" target="_blank">Child Health Assessment Form</a><span class="subText">(this is required no later than 30 days after enrollment date)</span></li>
           <li><a href="/assets/enrollmentforms/SUNSCREEN CONSENT FORM.docx" target="_blank">Sun Block Permission Form</a></li>
           <li><a href="/assets/enrollmentforms/PhotographReleaseForm 01162011.doc" target="_blank">Permission to Photograph Form</a></li>
           <li><a href="/assets/enrollmentforms/CACFP MealBenefit Form.pdf" target="_blank">Meal Benefit Application</a></li>
          </ol>
          <p class="subText">
            *All Forms are available upon request in the school office.
          </p>
          <p>As part of the enrollment process,  the following payments must also be submitted to the office prior to the first day of attendance.</p>
          <ol>
            <li>
              **Non-refundable Registration Fee
            </li>
            <li>
              **Tuition Deposit
            </li>
          </ol>
        </div>
      </article>
    </div>
   
   <%= render '/pages/sidebar' %>
  
  </div>
</div>
