<div class="mainImage">
  <div class="container">
    <img src="/images/handbook_photo.jpg" alt="Home Image">
  </div>
</div>
<div class="sectionDivider"></div>
<div class="container">
  <div class="allContent">
    <div class="mainContent">
      <article>
        <div class="sectionContent mainHeader">
          <h1>Parent Handbook</h1>
        </div>
        <div class="sectionContent">
          <div align="center"><img src="/images/handbook_img.png" width="139" height="153"></div>
          
          <h2>WELCOME!!</h2>

          <p>Welcome to the Children's Journey!  We are grateful that you have entrusted your child to our care.  We look forward to being a part of your child's growth, development and early education. Thank you for allowing us to be a part of this wonderful process! The Children's Journey is a ministry of the Journey Fellowship. We are a non-profit, non-discriminatory, service organization.</p>
          <p><a href="/assets/parenthandbook12192009.pdf" target="_blank">View More...</a></p>
         
        </div>
      </article>
    </div>
   
   <%= render '/pages/sidebar' %>
  
  </div>
</div>
