<div class="mainImage">
  <div class="container">
    <img src="/images/home_img_mobi.jpg" alt="Home Image">
    <div class="imageMessage">
      <p>
        “It is our desire to love and care for the families and the children entrusted to us, as Jesus does, with all our passion, soul, mind, and strength."
      </p>
    </div>
  </div>
</div>
<div class="sectionDivider"></div>
<div class="container">
  <div class="allContent">
    <div class="mainContent">
      <article>
        <div class="sectionContent mainHeader">
          <h1>Welcome to The Children's Journey</h1>
        </div>
        <div class="sectionContent">
          <p>The Children’s Journey is a ministry of the Journey Fellowship. We are a non-profit, non-discriminatory, service organization. We are licensed and certified by the PA Dept of Welfare and comply with all standards set forth by that department.</p>
        </div>
      </article>
      <br/>
      <article>
        <div class="sectionContent">
          <h1>What's Happening?</h1>
        </div>
        <div class="feed">
          <script src="http://feeds.feedburner.com/blogspot/CWTyL?format=sigpro" type="text/javascript" ></script><noscript><p>Subscribe to RSS headline updates from: <a href="http://feeds.feedburner.com/blogspot/CWTyL"></a></p> </noscript>
        </div>
      </article>
    </div>
    <div class="sidebar classroom">
      <h2>
        Classrooms
      </h2>
      <ul>
        <li>
          Infants
        </li>
        <li>
          Toddlers
        </li>
        <li>
          Preschool/Pre-Kindergarten
        </li>
        <li>
          School Age
        </li>
      </ul>
    </div><!--End Sidebar-->
    <div class="sidebar address">
      <h2>
        Address
      </h2>
      <p>
        600 Alton Ave.<br/>
        Reading, PA 19605<br/>
        610-334-8741
        </p>
    </div><!--End Sidebar-->
    <div class="sidebar hours">
      <h2>
        Hours
      </h2>
      <p>
        Monday-Friday<br/>
        6:30am - 6:00pm
        </p>
    </div><!--End Sidebar-->
  </div>
</div>
