<div class="mainImage">
  <div class="container">
    <img src="/images/home_img_mobi.jpg" alt="Home Image">
  </div>
</div>
<div class="sectionDivider"></div>
<div class="container">
  <div class="allContent">
    <div class="mainContent">
      <article>
        <div class="sectionContent mainHeader">
          <h1>Location</h1>
        </div>
        <div class="sectionContent">
         <iframe width="425" scrolling="no" height="350" frameborder="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=600+Alton+Avenue,+Reading,+PA&amp;sll=37.0625,-95.677068&amp;sspn=68.344727,177.451172&amp;ie=UTF8&amp;hq=&amp;hnear=600+Alton+Ave,+Reading,+Berks,+Pennsylvania+19605&amp;z=14&amp;ll=40.366284,-75.923762&amp;output=embed" marginwidth="0" marginheight="0"></iframe><br><small><a style="color:#C77E0C; text-align:left" href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=600+Alton+Avenue,+Reading,+PA&amp;sll=37.0625,-95.677068&amp;sspn=68.344727,177.451172&amp;ie=UTF8&amp;hq=&amp;hnear=600+Alton+Ave,+Reading,+Berks,+Pennsylvania+19605&amp;z=14&amp;ll=40.366284,-75.923762" target="_blank">View Larger Map</a></small>
        </div>
      </article>
    </div>
   
   <%= render '/pages/sidebar' %>
  
  </div>
</div>
