[role='main']
  margin: 5% auto

.js [role='navigation']
  display: none

.menu-button
  display: block
  padding: 1em
  color: #fff
  background-image: url('/images/menu_btn_sprite.png')
  -webkit-tap-highlight-color: transparent
  -webkit-user-select: none
  @media only screen and (-webkit-min-device-pixel-ratio: 2)
    background-image: url(/images/menu_btn_sprite@2x.png)
    +background-size(33px auto)
  background-repeat: no-repeat
  height: 40px
  width: 40px
  float: right
  margin-right: 4%
  background-position: 93% -60px
.expanded
  background-position: 93% 25px

[role='navigation']
  margin: 0 auto
  width: 100%
  background: #9eb572
  clear: both
  &:after
    /* clearfix
    visibility: hidden
    display: block
    font-size: 0
    content: " "
    clear: both
    height: 0
  li
    position: relative
    list-style: none
    +inline-block
    width: 33.3333%
    text-align: center
    background: url(/images/nav_bg_sprite.jpg) repeat bottom left #9eb572
    +box-shadow(0 0 0 1px #8da266 inset)
    &.current, &:hover, &:active
      background-position: top left
    a
      display: block
      color: #fff
      padding: 15px 0
  li ul
    width: 100%
    li
      float: none
      width: 100%
      a
        display: block
        background-color: #333
    position: relative
    border-top: 1px solid #333
    border-bottom: 1px solid #333

@media all and (min-width: 768px)
  p
    font-size: 100%
    margin-bottom: 1.5em
    line-height: 1.25em
  .js [role='navigation']
    display: block
  .menu-button
    display: none
  [role='navigation'] li
    position: relative
    list-style: none
    float: left
    display: block
    width: 16.667%
  .no-touch .item-with-ul:hover > ul
    opacity: 1
    top: 3.1em
    position: absolute
  [role='navigation'] li a
    border-bottom: none
  .no-touch [role='navigation'] li ul
    position: absolute
    top: auto
    left: 0
    opacity: 0
    visibility: hidden
    height: 1px
    z-index: 1
    -webkit-transition: .4s all ease
    -moz-transition: .4s all ease
    -o-transition: .4s all ease
    -ms-transition: .4s all ease
    transition: .4s all ease
  [role='navigation'] li ul li a
    border-bottom: none
  .touch [role='navigation'] li ul.sub-menu
    position: absolute
    top: auto
    left: 0
    display: none
    z-index: 1
  .no-touch .item-with-ul:hover > ul
    visibility: visible
    opacity: 1
    height: auto
    display: block
    border-right: 1px solid #000
    border-bottom: 1px solid #000